.products{
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(300px,1fr));
    grid-gap: 20px;
    
    
}

.card img{
    width: 100%;
    border-radius: 30%;
    box-shadow: 0px 0px;
}
.card  {
    background-color: rgb(238, 200, 118);
    border-radius: 30%;
    text-align: center;
}